@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Everforest color palette https://everforest.vercel.app/palette */
  --color-fg: #D3C6AA;
  --color-bg: #272E33;

  --color-primary: #E69875;
}

@layer base {
  html,
  body {
    height: 100%;
  }
}
